<main>
  <div class="head-title">
    <div class="left">
      <h1>Archive Employee</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">employees</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="#">archive</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Archive</h3>
        <i class="bx bx-search"></i>
        <i class="bx bx-filter"></i>
      </div>
      <form>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="user">Username</label>
            <input
              type="text"
              class="form-control"
              id="user"
              placeholder="Enter Username"
              required
            />
          </div>
          <div class="form-group col-md-3">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter Email"
              required
            />
          </div>
          <div class="form-group col-md-3">
            <label for="code">Employee code</label>
            <input
              type="text"
              class="form-control"
              id="code"
              placeholder="Enter code"
              required
            />
          </div>
          <div class="form-group col-md-3">
            <label for="dept">Department</label>
            <input
              type="text"
              class="form-control"
              id="dept"
              placeholder="Specify Department"
              required
            />
          </div>
          <div class="form-group col-md-12 mt-4">
            <label for="reason">Reason</label>
            <textarea
              class="form-control resizable-input"
              id="reason"
              placeholder="Enter Reason"
              required
            ></textarea>
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Confirm</button>
      </form>
    </div>
  </div>
</main>
