<main>
  <div class="head-title">
    <div class="left">
      <h1>Payroll</h1>
    </div>
  </div>
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Payroll Information</h3>
        <i class="bx bx-filter"></i>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Employee</th>
            <th scope="col">Job Title</th>
            <th scope="col">Department</th>
            <th scope="col">Base Salary</th>
            <th scope="col">Account Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Row 1 -->
          <tr>
            <td>youssef ouaaqa</td>
            <td>ML Engineer</td>
            <td>IT</td>
            <td>$12000</td>
            <td>3221 2311 1309 XXXX</td>
            <td>
              <a class="delete big-red-icon">
                <i 
                class="bx bxs-edit"></i>
              </a>
            </td>
          </tr>
          <!-- Row 2 -->
        </tbody>
      </table>
    </div>
  </div>
</main>
