<!-- SIDEBAR -->
<section id="sidebar">
  <a class="brand mt-3 m-2">
    <img src="../../../assets/connect.png" alt="brand">
  </a>
  <ul class="side-menu top">
    <li [routerLinkActive]="'active'">
      <a [routerLink]="['/admin', adminId, 'dashboard']">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a [routerLink]="['/admin', adminId, 'department']">
        <i class="bx bxs-buildings"></i>
        <span class="text">Departments</span>
      </a>
    </li>
    <li
      class="dropdown"
      (click)="toggleEmployeesDropdown()"
      [routerLinkActive]="'active'"
    >
      <a>
        <i class="bx bxs-user"></i>
        <span class="text">Employees</span>
        <i class="bx bx-caret-down"></i>
      </a>
      <ul class="submenu" *ngIf="isEmployeesDropdownOpen">
        <li>
          <a [routerLink]="['/admin', adminId, 'employees', 'add-employee']">
            <i class="bx bx-plus-circle"></i>
            <span class="nav-text">Add Employee</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/admin', adminId, 'employees', 'archive-employee']"
          >
            <i class="bx bx-minus-circle"></i>
            <span class="nav-text">Archive Employee</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown" (click)="toggleAttendanceDropdown()">
      <a>
        <i class="bx bx-clipboard"></i>
        <span class="text">Attendance</span>
        <i class="bx bx-caret-down"></i>
      </a>
      <ul class="submenu" *ngIf="isAttendanceDropdownOpen">
        <li>
          <a [routerLink]="['/admin', adminId, 'attendance']">
            <span class="nav-text">Employees Attendance</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown" (click)="toggleRequestsDropdown()">
      <a>
        <i class="bx bx-news"></i>
        <span class="text">Requests</span>
        <i class="bx bx-caret-down"></i>
      </a>
      <ul class="submenu" *ngIf="isRequestsDropdownOpen">
        <li>
          <a [routerLink]="['/admin', adminId, 'requests', 'leaves']">
            <span class="nav-text">Leaves</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin', adminId, 'requests', 'resignations']">
            <span class="nav-text">Resignation</span>
          </a>
        </li>
      </ul>
    </li>
    <li [routerLinkActive]="'active'">
      <a [routerLink]="['/admin',adminId,'claims']">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Claims</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a [routerLink]="['/admin',adminId,'payroll']">
        <i class="bx bxs-wallet-alt"></i>
        <span class="text">Payroll</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a (click)="logout()" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->
