<!-- MAIN -->
<main>
  <div class="head-title">
    <div class="left">
      <h1>Employees Managment</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Employees</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="#">Add</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Add Employee</h3>
      </div>
      <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
              placeholder="Enter first name"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
              placeholder="Enter last name"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="position">Position</label>
            <input
              type="text"
              class="form-control"
              id="position"
              formControlName="position"
              placeholder="Enter Designation"
              required
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 mb-3">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Enter Email"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="bdate">Date of Birth</label>
            <input
              type="date"
              class="form-control"
              id="bdate"
              formControlName="bdate"
              placeholder="Enter Birth Date"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="jdate">Date of Joining</label>
            <input
              type="date"
              class="form-control"
              id="jdate"
              formControlName="jdate"
              placeholder="Enter Joining Date"
              required
            />
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4 mb-3">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="tel"
              class="form-control"
              id="phoneNumber"
              formControlName="phoneNumber"
              placeholder="Enter Phone Number"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              formControlName="address"
              placeholder="Enter Address"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              formControlName="city"
              placeholder="Enter City"
              required
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 mb-3">
            <label for="role">Gender</label>
            <select class="form-control" id="gender" formControlName="gender" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="departement">Departement</label>
            <select class="form-control" 
            id="department" 
            formControlName="department" 
            required>
              <option value="" disabled selected>Select Departement</option>
              <option *ngFor="let dept of departments" 
              [value]="dept.id"
              >{{dept.departName}}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="isActive">isActive</label>
            <input class="form-control roly" type="text" formControlName="isActive" value="false" readonly>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 mb-3">
            <label for="salaire">Salary</label>
            <input
              type="text"
              class="form-control"
              id="salaire"
              formControlName="salaire"
              placeholder="Enter Amount in $"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="pay_day">Pay Day</label>
            <input
              type="date"
              class="form-control"
              id="pay_day"
              formControlName="pay_day"
              placeholder="Enter Pay-Day"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="password">Default password</label>
            <input
              type="text"
              value="HRMS2024"
              class="form-control roly"
              id="password"
              formControlName="password"
              readonly
            />
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<!-- MAIN -->
